.dialog {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  .dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }
  h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 1em;
  }
  .dialog__content {
    min-width: 300px;
    width: 500px;
    z-index: 5;
    .dialog__close {
      color: #666;
      &:hover {
        color: #363636;
      }
    }
  }
  &.dialog--open {
    z-index: 1000;
    opacity: 1;
    .dialog__overlay {
      background: rgba(55, 58, 71, 0.9);
      opacity: 1;
      pointer-events: auto;
    }
    .dialog__content {
      pointer-events: auto;
      //@include animation(anim-open 0.3s forwards);
    }
  }
  &.dialog--close {
    .dialog__content {
      //@include animation(anim-close 0.3s forwards);
    }
  }
  .dialog__content--helper-link {
    position: absolute;
    top: 100%;
    margin: 10px 0;
    width: 100%;
    left: 0;
    a:hover {
      color: #eee;
    }
  }
}

a.trigger:not([href]):not([tabindex]) {
  color: #20a8d8;
  cursor: pointer;
}
a.trigger:not([href]):not([tabindex]):hover {
  color: #167495;
  text-decoration: underline;
  cursor: pointer;
}
td.is-icon {
  text-align: center;
  width: 50px;
}

.modal {
  .close {
    outline: none;
  }
  &.is-right-bar {
    max-width: 780px;
    right: 0;
    left: inherit;
  }
  &.is-left-bar {
    max-width: 780px;
    left: 0;
    right: inherit;
  }
}
.modal-backdrop {
  z-index: 10000;
}

.modal.edit-form.is-left-bar .modal-dialog {
  left: 0;
}
.dialog.dialog--open.dialog-ajax {
  z-index: 3000 !important;
  .modal-header {
    z-index: 1 !important;
  }
  .dialog__body {
    z-index: 1 !important;
  }
  .dialog__content {
    z-index: 3000 !important;
  }
}

