.drag-pointer {
  cursor: move;
}

.is-gallery-row {
  .ui-sortable {
    margin-top: 10px;
  }
}
.is-gallery-row {
  .card-placeholder {
    margin-bottom: -10px;
    background: transparent;
    border: none;
    min-height: 99px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      background: rgba(0, 0, 0, 0.025);
      border: 1px dashed #818a91;
      /*
      width: calc(100% - 30px);
      margin-right: 15px;
      margin-left: 15px;
       */
    }
  }
}

#dropzone {
  background: $brand-primary;
  color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: lighten($brand-primary, 10);
  }
}

#dropzone.in {
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: larger;
}
#dropzone.hover {
  background: lighten($brand-primary, 10);
}
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}