.fixclass__1{
	color: white;
}
.container-img {
    color:#000;
    position:relative;
}

.column1 {
    float:left;
    width:500px;
}

.column2 {
    float:left;
    padding-left:20px;
    width:170px;
}

#panel {
    cursor:crosshair;
}

.column2 > div {
    margin-bottom:10px;
}

#swImage {
    cursor:pointer;
    height:25px;
    line-height:25px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#swImage:hover {
    margin-left:2px;
}

#preview {
    height:25px;
    width:25px;
    margin-left: 15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.column2 input[type=text] {
    float:right;
    width:110px;
}

.container-img .text-field{
	margin-bottom: 1rem;
}

.container-img .text-field .lr{
	display: inline-block;
	vertical-align: top;
}

.container-img .image-field{
	clear: both;
}

.container-img .text-field input{
	width: 100px;
	padding: 0 5px 0 5px ;
}