$app-path: './../../../../../../' !default;

$node-path: 		$app-path + 'node_modules/' !default;
$public-img-path: 	$app-path + 'public/img/' !default;
$common-path: 					'./../common/' !default;
$common-components-path: 		'./../common/components/' !default;

//@import url($node-path + 'font-awesome/css/font-awesome.min.css');
//@import url($node-path + 'simple-line-icons/css/simple-line-icons.css');
//
//@import url($node-path + 'toastr/build/toastr.css');
//@import url($node-path + 'summernote-webpack-fix/dist/summernote.css');
//@import url($node-path + 'bootstrap-select/dist/css/bootstrap-select.css');
//@import url($node-path + 'select2/dist/css/select2.css');

@import '~font-awesome/css/font-awesome.min.css';
@import '~simple-line-icons/css/simple-line-icons.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');

@import '~toastr/build/toastr.css';
@import '~summernote-webpack-fix/dist/summernote.css';
//@import '~summernote-webpack-fix/src/less/summernote.scss';
@import '~bootstrap-select/dist/css/bootstrap-select.css';
@import '~codemirror/lib/codemirror.css';
@import '~tippy.js/dist/tippy.css';

@import '~huebee/dist/huebee.min.css';
/* 30px grid size */
.huebee__cursor {
  width: 30px;
  height: 30px;
}
.huebee__container {
  height: 230px;
}

@import "../template/style";
@import "../loader";
@import "../dialog";
@import "../custom";
@import "../drag";
@import "../tippy";
@import "../comments";

@import '../../../common/components/mixins';
@import '../../../common/components/keyframes';

$primary-color-light: $brand-primary;
$primary-color-nav: #f39468;

@import '../../../common/components/loaders/loaders';

@import '../../../common/toastr/toastr';

@import '../../../common/fancybox/jquery.fancybox.min.css';
@import '../../../common/fancybox/fancybox.support.css';


@import '../custom/_table';
@import '../custom/_popover';
@import '../custom/_modal';
@import '../custom/_summernote';
@import '../../hotfix.css';

//@import '~bootstrap/scss/_alert';

.hidden {
  display: none;
}
.form-control.is-danger {
  border-color: $brand-danger !important;
}
.btn.btn-link.is-disabled {
  opacity: .3;
}

.border-success {
  border-color: $brand-success !important;
}
.border-danger {
  border-color: $brand-danger !important;
}

.shadow-success {
  box-shadow: 0 0 5px $brand-success;
  border-color: transparent !important;
}
.shadow-danger {
  box-shadow: 0 0 5px $brand-danger;
  border-color: transparent !important;
}

.a[role="button"] {
  text-decoration: none;
}
