@media all and (min-width: 800px) {

    /* Give space around main area */
    .fancybox-custom-layout .fancybox-outer {
        top: 50px;
        left: 50px;
        bottom: 50px;
        right: 50px;
        margin: auto;
        max-width: 1180px;
        max-height: 495px;
        overflow: visible;
        background: #fff;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
        transition: opacity .3s;
    }

    /* Make it to fade-out while closing */
    .fancybox-custom-layout.fancybox-is-closing .fancybox-outer {
        opacity: 0;
    }

    /* Set color for background element */
    .fancybox-custom-layout .fancybox-bg {
        background: #f6f6f6;
    }

    .fancybox-custom-layout.fancybox-is-open .fancybox-bg {
        opacity: 1;
    }

    /* Move caption area to the right side */
    .fancybox-custom-layout .fancybox-caption-wrap {
        top: 0;
        right: 44px;
        bottom: 0;
        left: auto;
        width: 256px;
        padding: 0;
        background: #333;
        pointer-events: all; /* Make text selectable */
        border-right: 1px solid rgba(255,255,255,.08);
    }

    .fancybox-custom-layout h3 {
        font-size: 21px;
        color: #fff;
        line-height: 1.3;
    }

    /* Adjust content area position */
    .fancybox-custom-layout .fancybox-stage {
        right: 300px;
    }

    /* Remove top border from the caption */
    .fancybox-custom-layout .fancybox-caption {
        padding: 30px 20px;
        border: 0;
    }

    /* Align buttons at the right side  */
    .fancybox-custom-layout .fancybox-toolbar {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: 44px;
        background: #333;
        border-left: 1px solid #222;
    }

    /* Remove background from all buttons */
    .fancybox-custom-layout .fancybox-button,
    .fancybox-custom-layout .fancybox-navigation button:before {
        background: transparent;
    }

    /* Change arrow color */
    .fancybox-custom-layout .fancybox-navigation button {
        color: #333 !important;
        padding: 10px;
    }

    /* Reposition arrows */
    .fancybox-custom-layout .fancybox-button--arrow_left {
        left: -60px;
    }

    .fancybox-custom-layout .fancybox-button--arrow_right {
        right: -60px;
    }

    .fancybox-custom-layout.fancybox-show-thumbs .fancybox-button--arrow_right {
        right: -272px;
    }

    /* Simple advert space */
    .ad {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px;
        color: #fff;
    }

    .ad p {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .ad p a {
        color: #fff;
    }

}


/*

	Advanced example - Morphing modal window

	https://codepen.io/fancyapps/pen/rmwyXN

*/

.morphing-btn-wrap {
    display: inline-block;
    position: relative;
    text-align: center;
}

.morphing-btn {
    -webkit-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -moz-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    -o-transition: background 0.3s, color 0.2s 0.2s, width 0.2s 0s;
    transition: color 0.3s 0.2s, width 0.2s 0s;
    white-space: nowrap;
    box-sizing: border-box;
}

.morphing-btn_circle {
    color: transparent !important;
    padding-left: 0;
    padding-right: 0;
    width: 35.6px !important;

    /* Override inline style rule */
    -webkit-transition: color 0.2s 0s, width .3s 0.2s;
    -moz-transition: color 0.2s 0s, width .3s 0.2s;
    -o-transition: color 0.2s 0s, width .3s 0.2s;
    transition: color 0.2s 0s, width .3s 0.2s;
}

.morphing-btn-clone {
    position: fixed;
    background: #FF6666;
    border-radius: 50%;
    z-index: 3;
    -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.morphing-btn-clone_visible {
    display: block;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
}

.fancybox-morphing .fancybox-bg {
    background: #FF6666;
    opacity: 1;
}

.fancybox-morphing .fancybox-toolbar {
    top: 20px;
    right: 40px;
}

.fancybox-morphing .fancybox-button--close {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
}

.fancybox-morphing .fancybox-button--close:hover {
    background: rgba(0, 0, 0, 0.25);
}

/* Styling for element used in example */

#morphing-content {
    margin: 0;
    position: relative;
    background: transparent;
    color: #fff;
    padding: 6em 10vw;
    line-height: 2;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#morphing-content a {
    color: #fff;
}


/*

	Advanced example - Confirm dialog

	https://codepen.io/fancyapps/pen/PmpePO

*/


.fc-container .fancybox-bg {
    background: #eee;
}

.fancybox-is-open.fc-container .fancybox-bg {
    opacity: 0.95;
}

.fc-content {
    margin: 20px;
    max-width: 550px;
    padding: 50px;
    box-shadow: 10px 10px 60px -25px;
    border-radius: 4px;
}

.fc-content h2 {
    margin-top: 0;
    font-size: 1.6em;
    letter-spacing: normal;
}

.fc-content p {
    color: #666;
    line-height: 1.5;
}

.fc-content p:last-child {
    margin-bottom: 0;
}

/* Custom animation */
.fancybox-fx-material.fancybox-slide--previous,
.fancybox-fx-material.fancybox-slide--next {
    transform: translateY(-60px) scale(1.1);
    opacity: 0;
}

.fancybox-fx-material.fancybox-slide--current {
    opacity: 1;
    transform: translateY(0) scale(1);
}


/*

	Advanced example - Product quick view

*/

.quick-view-container {
    background: rgba(10,10,10,0.85);
}

.quick-view-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    max-width: 980px;
    max-height: 650px;
}

.quick-view-carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 57%;
    background: #fff;
}

.quick-view-carousel .fancybox-stage {
    bottom: 30px;
}

.quick-view-aside {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: auto;
    width: 43%;
    padding: 50px 0 30px 0;
    background: #fff;
    color: #777;
}

.quick-view-aside::before, .quick-view-aside::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.quick-view-aside::before {
    width: 8px;
    background: #f4f4f4;
}

.quick-view-aside::after {
    width: 1px;
    background: #e9e9e9;
}

.quick-view-aside > div {
    height: 100%;
    overflow: auto;
    padding: 5vh 30px 0 30px;
    text-align: center;
}

.quick-view-aside > div > p {
    font-size: 90%;
}

.quick-view-close {
    position: absolute;
    top: 30px;
    right: 0;
    width: 44px;
    height: 44px;
    background: #F0F0F0;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    font-family: Arial;
    font-size: 14px;
    color: #222;
    text-indent: -99999px;
    transition: all .2s;
}

.quick-view-close:hover {
    background: #e4e4e4;
}

.quick-view-close::before,
.quick-view-close::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 22px;
    width: 1px;
    height: 18px;
    background-color: #222;
}

.quick-view-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.quick-view-close:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


.quick-view-bullets {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 99999;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.quick-view-bullets li {
    display: inline-block;
    vertical-align: top;
}

.quick-view-bullets li a {
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
}

.quick-view-bullets li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 99px;
    text-indent: -99999px;
    overflow: hidden;
    background: #d4d2d2;
}

.quick-view-bullets li.active a span {
    background: #FF6666;
}



body.fancybox-active {
    /*position: fixed;*/
    /*right: 0;*/
}


.fancybox-custom-layout .fancybox-caption h3 {
    margin-top: 0;
}
.fancybox-custom-layout .fancybox-caption-wrap {
    overflow: hidden;
}
.fancybox-custom-layout .ribbon.__bottom-right {
    /*right: -90px;*/
}
.fancybox-custom-layout.fancybox-is-open .fancybox-bg {
    opacity: .9;
}

body.fancybox-active {
    /*overflow: hidden;*/
    /*overflow-y: scroll;*/
    /*padding-right: 0 !important;*/
}
.fancybox-custom-layout .fancybox-caption-wrap, .fancybox-custom-layout .fancybox-infobar, .fancybox-custom-layout .fancybox-toolbar {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .25s,visibility 0s;
    transition: opacity .25s,visibility 0s;
}