
.dialog{
  .modal-content.edit-form{
    margin-right: -650px;
    transition: 1s;
  }
}

.dialog.dialog--open.dialog-ajax{
  z-index: 10;
  .modal-content.edit-form{
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100% - 55px);
    margin-top: 55px;
    width: 600px;
    margin-right: 1px;
    transition: 1s;
  }
}

.modal.show.edit-form .modal-dialog,
.modal.fade.edit-form .modal-dialog{
  transform: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin-top: 0px;
  max-width: 780px;
  margin-left: 0;
}

.modal-content {
  border: 1px solid rgba(209, 212, 215, 0);
  border-right: 0;
}

.modal.edit-form.fade.show .modal-dialog {
  margin-right: 0px !important;
}

.modal.edit-form.fade .modal-dialog {
  margin-right: -615px !important;
  transform: none;
  transition: margin-right .3s ease-out;
}

.modal.edit-form .modal-content{
  position: relative;
  height: 100%;
}

.modal-backdrop{
  z-index: 10;
}

.edit-form::-webkit-scrollbar {
  width: 6px;
}
.edit-form::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(163, 167, 164, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.edit-form::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(163, 167, 164, 0.5);
}

.edit-form ::-webkit-scrollbar {
  width: 6px;
}
.edit-form ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(163, 167, 164, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.edit-form ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(163, 167, 164, 0.5);
}

.edit-form .modal-header{
  display: block;
  min-height: 75px;
}

.edit-form .modal-header .modal-title{
  width: calc(100% - 20px);
  display: inline-block;
}

.edit-form .modal-header .close{
  display: inline-block;
}

.edit-form .modal-footer{
  display: block;
  text-align: right;
}


body.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}

@media (min-width: 576px){
  .modal-dialog:not(.edit-form) {
    max-width: 780px;
    margin: 30px auto;
  }
}



.modal.is-right-bar {
  .modal-dialog {
    background-color: #fff;
    width: 50%;
    @media only screen and (min-width: 992px) and (max-width: 1422px) {
      width: 70%;
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
.modal.is-left-bar {
  .modal-dialog {
    background-color: #fff;
    width: 50%;
    @media only screen and (min-width: 992px) and (max-width: 1422px) {
      width: 70%;
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
