.note-editor {
  .note-btn {
    background-color: #fff;
  }
}
.note-toolbar {
  .note-fontsize {
    .note-icon-caret {
      display: none;
    }
  }
  .note-color {
    .dropdown-menu {
      min-width: 162px !important;
      .btn-group {
        display: inline-block;
        margin: 0 10px !important;
        &:first-child {
          //display: none;
        }
        &:last-child {
          margin-bottom: 10px !important;
        }
      }
    }
    .dropdown-toggle::after {
      display: none;
    }
    .note-recent-color {
      background-color: buttonface !important;
    }
  }
}

.modal.link-dialog {
  .modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.15s linear;
    opacity: .5;
    background: #000;
    top: 0;
    z-index: -1;
    left: 0;
  }
}

.summernote-video-modal {
  z-index: 1060;
  .modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.summernote-image-modal {
  .modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.15s linear;
    opacity: 0.5;
    background: #000;
    top: 0;
    z-index: -1;
    left: 0;
  }
}
.summernote-video-modal:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s linear;
  opacity: 0.5;
  background: #000;
  top: 0;
  z-index: -1;
  left: 0;
}
.summernote-image-text-modal {
  .modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.15s linear;
    opacity: 0.5;
    background: #000;
    top: 0;
    z-index: -1;
    left: 0;
  }
}
.--fixed.modal-open {
  .modal-backdrop.show {
    //z-index: 1050;
  }
}

.note-group-select-from-files {
  display: none;
}
.note-fontsize .dropdown-fontsize {
  min-width: 48px !important;
  li {
    text-align: center;
    a {
      width: 100%;
      display: block;
      color: #2a2c36;
      text-decoration: none;
      &:hover {
        background-color: #ccc;
      }
      &.checked {
        color: #fff;
        background-color: #2a2c36;
      }
    }
  }
}
.note-editor {
  .note-btn.active {
    color: #fff;
    background-color: #2a2c36;
    //border-color: #2a2c36;
  }
}
