.table.__with-edit-delete {
  th:nth-last-child(1),
  th:nth-last-child(2),
  td:nth-last-child(1),
  td:nth-last-child(2) {
    width: 50px;
    text-align: center;
    a {
      height: 29px;
    }
  }
}

.table {
  .is-id {
    width: 54px;
  }
  .is-image {
    width: 54px;
  }
  .is-status {
    width: 150px;
  }
}

.form-control-focus {
  border: 1px solid transparent;
  background: transparent;
  margin-left: -0.5rem;
}
.nav.justify-content-end {
  .nav-link:not(.active) {
    color: #55595c;
  }
}

.bootstrap-select {
  width: 100%;
}
.btn-multiselect {
  background: #fff;
  border: 1px solid #ccc;
  &:focus {
    outline: none !important;
  }
}
.bootstrap-select.btn-group .dropdown-menu li {

}
.bootstrap-select.btn-group .dropdown-menu li a {
  color: #55595c;
  padding: 5px;
  width: 100%;
  display: block;
}
.filter-option {
  color: #55595c;
}
.bootstrap-select.btn-group .dropdown-menu li.selected {
  font-weight: bold;
}
